div.action-bar {
  position: sticky;
  top: 0;
  display: flex;
  align-items: stretch;
  background: var(--nav-option-bg);
  background: #fff;
  border-bottom: 1px solid #ddd;
  height: 2.75rem;
  flex-shrink: 0;

  label.filter-toggle, a, button {
    border: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    color: #3071F2;
    margin: 0;
    background: #fff;
    text-decoration: none;
    .icon-left {
      margin-right: .66em;
    }
    &:hover {
      // background: #040DBF;
      // background: #3071F2;
      color: #fff;
    }
  }

  input[type=text] {
    flex-grow: 1;
    border: 0;
    border-radius: 0;
    padding: .5rem 1rem;
    background: #fff;
    font-family: "Inconsolata", monospace;
    height: 2.75rem;
    outline: none;
    border-left: 1px solid #eee;
    border-bottom: 1px solid #dbdfe2;
    &::placeholder {
      color: #999;
    }
  }

}
