div.action-bar {
  display: flex;
  align-items: stretch;
  background: var(--nav-option-bg);
  background: #fff;
  border-bottom: 1px solid #ddd;
  height: 2.75rem;
  flex-shrink: 0;

  label.filter-toggle, a, button {
    border: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    color: #3071F2;
    margin: 0;
    background: inherit;
    text-decoration: none;
    .icon-left {
      margin-right: .66em;
    }
    &:hover {
      color: #fff;
      background: #3071F2;
    }
  }

  input[type=text] {
    flex-grow: 1;
    border: 0;
    border-radius: 0;
    padding: .5rem 1rem;
    background: #fff;
    font-family: "Inconsolata", monospace;
    height: 2.75rem;
    outline: none;
    border-left: 1px solid #eee;
    border-bottom: 1px solid #dbdfe2;
    &::placeholder {
      color: #999;
    }
  }

}

#view .form .action-bar {
  background: #fafafa;
}

html, body, #app {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#main {
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

#view {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .view-content {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    overflow: hidden;

    &.scrollable {
      overflow: scroll;
    }
  }

  .view-content-main {
    flex-grow: 1;
    overflow: scroll;
  }
}

#bottom-bar {
  background: #F1F5F9;
  border-top: 1px solid #CBD5E1;
}

