#view > .view-content > .view-content-sidebar {
  width: 25rem;
  background: #F8FAFC;
  border-left: 1px solid #CBD5E1;

  .sidebar-title {
    font-size: 1.33rem;
    padding: 1.33rem 1.66rem .66rem 1.66rem;
  }
}
